.map-responsive{
    overflow:hidden;
    padding-bottom:50%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:auto;
    max-width:100%;
    position:absolute;
}
/* .maptext{
    position: absolute;
    text-align: end;
    
} */
.map{

   margin-top: 110px;
}
.btn-warning{
    box-sizing: border-box;
    width: 296px;
    background-color: white;
    color: #ffc107;
   margin-top: 25px;
    margin-right: 144px;
    margin-left: -11px;
    max-width: 40%;
    block-size: 36px;
    font-weight: bold;
    align-items: center;
    display: block
    

}
.mapiframe{
width: 100%;
height: 380px;
}
@media screen and (max-width:600px) {
    .mapiframe{
        align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
    }
    
}
.locationbtn{
    margin-left: 100px;
}