.img-fluidflex{
    width: 100%;
    height: auto;
    position: relative;
}
.flexbtnshop{
    position: absolute;
    right: 9px;
    display: flex;
    margin-top: -56px;
    letter-spacing: -0.01em;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    font-family: 'Nunito';
    background: linear-gradient(91.75deg, #FF8E15 0.53%, #E9C300 98.45%);
    border-radius: 8px;
    color: white;
    border: none;
    width: 159px;
    height: 36px;
    font-size: medium;
    justify-content: space-around;
    align-items: center;
    align-content: flex-end;
}
.sleepbabymattress{
    width: 200px;
    position: absolute;
    margin-top: -108px;
    height: auto;
    padding: 12px;
}